* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 320px;
}

body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: url(./images/adam-birkett-75EFpyXu3Wg-unsplash.jpg);
    background-size: 50% 100%;
    height: 100%;
}

header {
    padding-top: 150px;
    font-size: clamp(1rem, 2vw, 18px)
}

.headline-main-text {
    margin-bottom: 2em;
    line-height: 2.5rem;
}


.hero-area {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#logo {
    background-color: rgba(15, 13, 13, 0.31);
    position: relative;
    top: 30%;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-size: 2.5rem;
}

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 65%;
    /* height: 100vh; */
    /* min-height: 500px; */
}

.container {
    width: 80%;
}

form {
    /* border: 1px solid #000; */
    margin-top: 50px;

}

.form-row {
    display: flex;
    margin-top: 5px;
    gap: 10px;
}

.input-box {
    display: inline-block;
    flex: 1;
    font-size: clamp(1rem, 2vw, 18px)
    
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 40px;
}

.credit {
    color: white;
}

a {
    text-decoration:underline;
    color:inherit;
    
}


@media only screen and (max-width: 790px) {

    body {
        flex-direction: column;
        background-size: 400px 100%;
        background-image:none;


    }

    header {
        padding-top: 50px;
    }

    #logo {
        font-size: 1rem;
    }


    .hero-area {
        background-image: url(./images/smaller.jpg);
        background-size: 100% 100%;
        width: 100%;
        height: 300px;
    }
    
    
    .form-area {
        width: 100%;
    }


    .form-row {
        flex-direction: column;
    }

    .input-box {
        display: block;
    }

}

